.Contacts{
    font-size : 12px;
    color: #004DC1;
    font-style: normal;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color:#004DC1;
}

.contact-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.contact {
    left:0; right:0;
}

.contact>img, .contact>span {
    display:block;
    margin: auto;
}


address {
    text-align: center;
}

address>p:first-child{
    margin-top:50px;
    margin-bottom: 50px;
}