.faculty{
    font-size : 12px;
    color: #004DC1;
    font-style: normal;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color:#004DC1;
}

.faculty{
    font-size : 12px;
    color: #004DC1;
    font-style: normal;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-color:#004DC1;
}

.text-center {
    font-size : 20px;
}

.professor_img {
    display : inline-block;
}

.name {
    font-weight : bold;
}

.upper-inner {
    font-size : 8px;
}

.upper-inner-box {
    padding-left : 15px;
    display:flex;
}

.lower-inner-box {
    background-color : #F4F4F4;
    box-shadow: 3px 3px 5px lightgrey;
    padding : 20px 25px 20px 25px;  /* 위, 오른쪽, 아래, 왼쪽 순 */   
    margin-top : 40px;
}

.lower-inner {
    font-weight : bold;
}

.hr {
    margin-bottom:0px;
    margin-top:5px;
    border: solid 0.5px #004DC1; 
}

.upper-inner-box-right-side {
    margin-left : 30px;
}